
@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">@Title</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>@Content</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                     
                    <button type="button" class="btn btn-info" @onclick=@ModalOk>Ok</button>
                </div>

            </div>
        </div>
    </div>
}
@code
{
    [Parameter]
    public bool showModal { get; set; } = false;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Content { get; set; }

    void ModalShow() => showModal = (true);
    void ModalCancel() => showModal = (false);

    void ModalOk()
    {
        Console.WriteLine("Modal ok");
        showModal = (false);

    }
}